footer.footer 
    img(src="images/Logo.png", alt="").footer__logo
    nav.nav.nav--footer 
        ul.nav-item.nav-item--footer
            a(href="#").nav-item__link Home
        ul.nav-item.nav-item--footer
            a(href="#").nav-item__link About    
        ul.nav-item.nav-item--footer
            a(href="#").nav-item__link Feature
        ul.nav-item.nav-item--footer
            a(href="#").nav-item__link Service
        ul.nav-item.nav-item--footer
            a(href="#").nav-item__link Contact
    .footer__socials
        object(data="images/elem/facebook.svg", type="image/svg+xml").footer__socials-img
        p |
        object(data="images/elem/twitter.svg", type="image/svg+xml").footer__socials-img
        p |
        object(data="images/elem/inst.svg", type="image/svg+xml").footer__socials-img 
        p |
        object(data="images/elem/vimeo.svg", type="image/svg+xml").footer__socials-img

    .footer__copyright 
        p.footer__text © COPYRIGHT 2019
            |
            span.footer__text.footer__text--red  themeies.com.!{' '}
            | ALL RIGHTS RESERVED

