header
    .container
        .header
            img(src="images/Logo.png", alt="")
            nav.nav 
                ul.nav-item
                    a(href="#").nav-item__link Home
                ul.nav-item
                    a(href="#").nav-item__link About    
                ul.nav-item
                    a(href="#").nav-item__link Feature
                ul.nav-item
                    a(href="#").nav-item__link Service
                ul.nav-item
                    a(href="#").nav-item__link Contact
            
            img.caplya(src="images/background/caplya.png", alt="")

            
        