.intro {
    display: flex;
    align-items: center;
    height: 740px;

}
.intro__inner{
    width: 50%;
}
p {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    line-height: 24px;
}

.second__p {
    margin-top: 50px;
}
